.navbar{
    background-color: #7952b3;
    color: white;
}

.navbar a{
    color: white;
}

.btn-primary{
    background-color: #7952b3;
}

.icon i
{
    font-size: 40px;
    color: red;
}

.code
{
    background-color: lightgray;
    padding: 10px;

}

.footer
{
    background-color: whitesmoke;
    height: 400px;
    color: black;
}

.footer img{
    width: 70px;
    height: 50px;
}

.footer a
{
    color: black;
}